*{
  margin: 0;
}

header{
  padding: 4rem;
  background: lightslategray;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
  color: unset;
  text-decoration: none;
}

ul{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 8rem;
}

ul li:last-child{
  background-color: black;
  color: aliceblue;
  padding: 1rem;
  border-radius: 8px;
}