button{
  display: flex;
  align-items: center;
  line-height: 0; /*sempre que trabalhar com botão que tem texto, tirar o line-height pq alinha com mais perfeitçaõ no eixc principal*/
  gap: .4rem;
}

button img{
  width: 2rem;
  height: 2rem;
}